{% extends "management/sidebar.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Edit Customer Info</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %} 
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="name">Name</label>
                        <input type="text" name="name" value="{{customer.name}}" class="form-control" id="name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="street">Street Name</label>
                        <input type="text" name="street" value="{{customer.street}}" class="form-control" id="street" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <input type="text" name="city" value="{{customer.city}}" class="form-control" id="city" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="state1">State</label>
                        <input type="text" name="state1" value="{{customer.state1}}" class="form-control" id="state1" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="zipcode">ZipCode</label>
                        <input type="text" name="zipcode" value="{{customer.zipcode}}" class="form-control" id="zipcode" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="mobile">Mobile</label>
                    <input type="text" name="mobile" value="{{customer.mobile}}" class="form-control" id="mobile">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="text" name="email" value="{{customer.email}}" class="form-control" id="email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="make">Make</label>
                        <input type="text" name="make" value="{{customer.make}}" class="form-control" id="make">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="model">Model</label>
                        <input type="text" name="model" value="{{customer.model}}" class="form-control" id="model">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="series">Series</label>
                        <input type="text" name="series" value="{{customer.series}}" class="form-control" id="series">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="vin">Vin Number</label>
                        <input type="text" name="vin" value="{{customer.vin}}" class="form-control" id="vin">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="lic">Licence Number</label>
                        <input type="text" name="lic" value="{{customer.lic}}" class="form-control" id="lic">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">State</label>
                        <input type="text" name="state" value="{{customer.state}}" class="form-control" id="state">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="memo">Memo</label>
                        <input type="text" name="memo" value="{{customer.memo}}" class="form-control" id="memo" ></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>   
            
        </div>
    </div>
{% endblock %}