{% extends "management/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center mt-5" style="color:red;">
        <div class="col-md-7 text-center">
                 <h1>Welcome To Auto Managment Software!</h1>
            <p style="color:black;">Manage your clients. Increase profit and sales. Get organized. Try <b><i>AutoManager</i></b>.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Sign Up</a>
        </div>
    </div>

{% endblock %}



